<p>
    @Html.ActionLink("Create New Patent", "Create", "Patent") <br>
    @Html.ActionLink("Create New Book", "Create", "Book")<br>
    @Html.ActionLink("Create New Newspaper", "Create", "Newspaper")<br>
    @Html.ActionLink("Create New Newspaper Issue", "Create", "NewspaperIssue")<br>
    @Html.ActionLink("Show all users", "Index", "User") <br>
</p>